<div class="containerDiv1">
  <img src="assets/circle.svg" width="1183" height="1192" id="circle1" alt="">
  <img src="assets/blob-small.svg" width="571" height="571" id="circle2" alt="">
  <img src="assets/accounting_dots.svg" width="430" height="70" id="accDots1" alt="">
  <img src="assets/accounting_dots.svg" width="430" height="70" id="accDots2" alt="">
  <img src="assets/collect_img-video.png" width="652" height="365" id="img1" alt="">

  <div class="headTextDiv">
    <p>We make it Super<br>Simple</p>
  </div>

  <div class="rect1"></div>

  <div class="card ECForm">
    <div class="card-header text-center">Eligibility Calculator</div>

    <div class="card-body">
      <label class="formLabel" for="">Monthly Income</label><br>
      <p class="rangeValueText">{{value1 | currency:'INR':'symbol':'1.0-0'}}</p>
      <mat-slider class="full-width mat-slide-toggle" aria-label="unit(s)" [max]="max1" [(ngModel)]="value1"
        [min]="min1" [step]="step"></mat-slider><br>
      <p class="sliderRangeLabel">{{100000 | currency:'INR':'symbol':'1.0-0'}}<span class="float-right">{{300000 |
        currency:'INR':'symbol':'1.0-0'}}</span></p>

      <label class="formLabel" for="">Monthly Expense</label><br>
      <p class="rangeValueText">{{value2 | currency:'INR':'symbol':'1.0-0'}}</p>
      <mat-slider class="full-width" aria-label="unit(s)" [max]="max2" [(ngModel)]="value2" [min]="min2"
        [step]="step"></mat-slider><br><br>

      <mat-label class="formLabel">Repayment Tenure</mat-label><br>
      <mat-form-field class="full-width" [floatLabel]="'never'">
        <mat-select placeholder="--Select--">
          <mat-option *ngFor="let month of months" [value]="month.value">
            {{month.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>

      <p class="formLabel">Do you have any exsting loans? <span class="float-right">
        <mat-slide-toggle></mat-slide-toggle>
      </span></p><br>

      <mat-label class="formLabel">EMI of existing loan (optional)</mat-label>
      <mat-form-field class="full-width" [floatLabel]="'never'">
        <input matInput placeholder="₹ 15,000" type="number" value="">
      </mat-form-field>

    </div>
  </div>

  <div class="loanData">
    <p>Loan Amount</p>
    <p>{{100000 | currency:'INR':'symbol':'1.0-0'}}</p><br>
    <p>Your EMI will be</p>
    <p>{{15000 | currency:'INR':'symbol':'1.0-0'}}</p><br>
    <button class="getMoneyButton">GET MONEY</button>
  </div>
</div>

<div class="containerDiv2">
  <div class="cardsDiv1">
    <div class="card cardTemp">
      <img src="assets/Get Paid Instantly.png" class="cardImgIcon" width="89" height="89" alt="">
      <b>Quick cash disbursement</b>
      <p>Get terms loan that your business needs within 72hrs</p>
    </div>

    <div class="card cardTemp">
      <img src="assets/Low interest rate.png" class="cardImgIcon" width="89" height="89" alt="">
      <b>Low-interest rate</b>
      <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
    </div>

    <div class="card cardTemp">
      <img src="assets/Secure Payments.png" class="cardImgIcon" width="89" height="89" alt="">
      <b>Zero Paperwork</b>
      <p>Get started instantly by submitting only your basic details & bank statements</p>
    </div>
  </div>
  <div class="cardsDiv2">
    <div class="card cardTemp">
      <img src="assets/freelancer_feature_icon_6@1.5x.png" class="cardImgIcon" width="89" height="89" alt="">
      <b>Ace your business finances</b>
      <p>Manage banking, accounting and everything in between, on one platform</p>
    </div>
    
    <div class="card cardTemp">
      <img src="assets/Covid.png" class="cardImgIcon" width="89" height="89" alt="">
      <img src="assets/Path1.svg" id="pathImgIcon1" alt="">
      <img src="assets/Path2.svg" id="pathImgIcon2" alt="">
      <b>Loans to fight COVID-19</b>
      <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 Lakh</p>
    </div>
  </div>

  <div class="openAccDiv">
    <p class="para1">Boost your business <br> with Open</p>
    <div class="rect2"></div>
    <p class="para2">Get your hands on term loan that's <br>crafted for your business</p>
    <button class="openAccButton">Get an Open Account</button>
  </div>
</div>